.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.vscode/
deploy.test.yml
LICENSE
phpstan.neon
public
storage/swagger/http.json
storage/twitter-json
.env.prod
storage/keys
docker-compose.yml
app/Command/SyncTwitterListCommand.php